<div class="container">
    <div class="row">
        <div id="dataInfo">
            <div id="myCarousel" class="carousel" data-ride="carousel" test>
                <div class="carousel-inner row w-100 mx-auto" #cara="Carousel" [animationDuration]="300">
                    <div class="col-sm-4 mb-3" *ngFor="let testData of AssociationList">
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">{{ testData.name}}</h5>
                                </div>
                                <div class="card-body">
                                    <a href={{this.a+testData.link}} target="_blank">
                                        <img src="{{testData.img_url}}" class="img-fluid" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>