
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" width="200" class="elementToFadeInAndOut">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <app-event-reg></app-event-reg>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid top-spacing">
  <div class="row">
    <img [src]="event_urls" class="img-fluid" />
    <div class="carousel-caption">
      <h3>{{ eventName }}</h3>
      <p>{{ eventDescription }}</p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <li ngbNavItem="support">
        <a ngbNavLink>Supported By</a>
        <ng-template ngbNavContent>
            <h3 class="card-header bg mb-5">
              Supported By
            </h3>
            <app-supported [SupportedId]="SupportedId"></app-supported>
        </ng-template>
      </li>
      <!-- <li ngbNavItem="partner">
        <a ngbNavLink>Partners</a>
        <ng-template ngbNavContent>
          <h3 class="card-header bg mb-5">Partners for Textile</h3>
          <app-our-partner [eventId]="eventId"></app-our-partner>
        </ng-template>
      </li> -->
      <li ngbNavItem="speakers">
        <a ngbNavLink>Speakers</a>
        <ng-template ngbNavContent>
          <h3 class="card-header bg mb-5">Speakers</h3>
          <app-speakers [speakersId]="speakersId"></app-speakers>
        </ng-template>
      </li>
      <li ngbNavItem="association">
        <a ngbNavLink>Association Partners</a>
        <ng-template ngbNavContent>
          <h3 class="card-header bg mb-5">Association Partners</h3>
          <app-association [AssociationId]="AssociationId"></app-association>
        </ng-template>
      </li>
      <li ngbNavItem="media">
        <a ngbNavLink>Media Partners</a>
        <ng-template ngbNavContent>
          <h3 class="card-header bg mb-5">Media Partners</h3>
          <app-media [MediaId]="MediaId"></app-media>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
  <div class="row">
    <h3>Testimonals</h3>
    <app-testimonals [TestimonalsId]="TestimonalsId"></app-testimonals>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" class="btn active return-to-top" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
      <!-- <fa-icon [icon]="fachevronup"></fa-icon> -->
      <i class="arrow-up"> ↑ </i>
  </button>
</div>