<form [formGroup]="formGroup" (validSubmit)="onSubmit()">
    <div class="row">
            <div class="form-group col-sm-6" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Name</label>
                <input type="text" [(ngModel)]="exhibitor.name" class="form-control" formControlName="Name">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Designation</label>
                <input type="text" [(ngModel)]="exhibitor.designation" class="form-control" formControlName="Designation">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Phone</label>
                <input type="tel" [(ngModel)]="exhibitor.phone" class="form-control" formControlName="Phone">
            </div>
            <div class="form-group col-sm-6" [customErrorMessages]="customErrorMessages">
                <label class="control-label">Email</label>
                <input type="email" [(ngModel)]="exhibitor.mail" class="form-control" formControlName="Email">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">GST</label>
                <input type="text" [(ngModel)]="exhibitor.GST" class="form-control" formControlName="GST">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Amount</label>
                <input type="text" [(ngModel)]="exhibitor.amount" class="form-control" formControlName="Amount">
            </div>
            
            <div class="form-group col-sm-6">
                <label class="control-label">Company</label>
                <input type="text" [(ngModel)]="exhibitor.company" class="form-control" formControlName="Company">
            </div>
            <div class="col-sm-6">
                <label for=""></label>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Address 1</label>
                <input type="text" [(ngModel)]="exhibitor.address1" class="form-control" formControlName="Address1">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Address 2</label>
                <input type="text" [(ngModel)]="exhibitor.address2" class="form-control" formControlName="Address2">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">City</label>
                <input type="text" [(ngModel)]="exhibitor.city" class="form-control" formControlName="City">
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">State</label>
                <input type="text" [(ngModel)]="exhibitor.state" class="form-control" formControlName="State">
            </div>
        <div class="col-md-12">
            <button class="btn btn-default" type="button" (click)="onReset()">Reset</button>
            <button class="btn btn-primary pull-right" (click)="onSubmit()" type="submit">Submit</button>
        </div>
    </div>
</form>