<div class="container">
    <div class="row">
        <div id="dataInfo">
            <div id="myCarousel" class="carousel" data-ride="carousel" test>
                <div class="carousel-inner row w-100 mx-auto" #cara="Carousel" [animationDuration]="300">
                    <div class="col-sm-4" *ngFor="let eventListUpcoming of upcomingEvents">
                        <div class="carousel-item active">
                            <div class="card">
                                <img class="card-img-top" src="{{ eventListUpcoming.fileUpload }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ eventListUpcoming.name }}</h5>
                                    <p class="card-text body-text">{{ eventListUpcoming.description }}</p>
                                    <p class="card-text"><small class="text-muted">Event On {{
                                            eventListUpcoming.startDate }}</small></p>
                                    <button (click)="registerAnEvent(eventListUpcoming)" class="btn btn-primary">Register Now</button>
                                    <!-- <a [routerLink]="'/EventsHomeComponent'" class="btn btn-primary">Register Now</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="carousel-control-prev" role="button" (click)="cara.prev(3)">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" role="button" (click)="cara.next(3)">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>